<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Helloooooworld.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1F4796D61E33B6D000E4E6AD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1F4796ED1E33B6D100E4E6AD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1F4796F81E33B6D100E4E6AD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
